.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.navigateLinks a{
  text-decoration: none;
  margin: 0px 5px;
  padding: 5px;
  background-color: #bdffd1;
}

.navigateLinks a:hover{
  background-color: #80fba5;
}

.active{
  background-color: #80fba5;
}

li {
  display: inline-block;
  
}